@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  src: url("chrome-extension://__MSG_@@extension_id__/up_/fonts/material-symbols-rounded.woff2") format('woff2');
}
.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
        "FILL" var(--font-variation-fill, 0),
        "wght" var(--font-variation-weight, 400),
        "GRAD" var(--font-variation-grade, 0),
        "opsz" var(--font-variation-optical-size, 48);
}